.idea
output
dist
private
packages/**/lib
packages/**/dist
node_modules
coverage
packages/**/coverage
*.bat
.ftpauth
*.log
.jest-*
.cache
.coverage
client/config.json
server/config.mjs
server/config.json
server/cert
