:root {
  --body-background-light: #f6f8fa;
  --text-color-light: #24292e;
  --border-color-light: #e1e4e8;
  --panel-background-light: #ffffff;
  --accent-color-light: #444c56;
  --alert-color-light: #ea0b0b;
  --warning-color-light: #ff8330;
  --info-color1-light: #7dc37b;
  --info-color2-light: #1ba1e2;
  --info-color3-light: #ffe725;
  --fill-color-light: rgba(125, 195, 123, 0.3);
}
body.light-mode {
  background: var(--body-background-light);
  color: var(--text-color-light);
}
body.light-mode .fg-normal {
  color: var(--text-color-light);
}
body.light-mode .fg-accent {
  color: var(--accent-color-light);
}
body.light-mode .fg-warning {
  color: var(--warning-color-light);
}
body.light-mode .fg-alert {
  color: var(--alert-color-light);
}
body.light-mode .fg-stroke {
  color: var(--info-color1-light);
}
body.light-mode .fg-fill {
  color: var(--fill-color-light);
}
body.light-mode .fg-info1 {
  color: var(--info-color1-light);
}
body.light-mode .fg-info2 {
  color: var(--info-color2-light);
}
body.light-mode .fg-info3 {
  color: var(--accent-color-light);
}
body.light-mode .bd-system {
  border-color: var(--border-color-light);
}
body.light-mode .bg-system {
  background: var(--body-background-light);
}
body.light-mode hr {
  background: var(--border-color-light);
}
body.light-mode #max-block {
  color: var(--accent-color-light);
}
body.light-mode #max-unvalidated {
  color: var(--alert-color-light);
}
body.light-mode #explorer-height {
  color: var(--info-color2-light);
}
body.light-mode .panel {
  background: var(--panel-background-light);
  color: var(--text-color-light);
  border-color: var(--border-color-light) !important;
}
body.light-mode .panel .panel-title {
  border-color: var(--border-color-light);
  color: var(--accent-color-light);
}
body.light-mode .panel.alert,
body.light-mode .panel.warning {
  background: var(--alert-color-light);
  color: #fff;
}
body.light-mode .panel.alert .panel-title,
body.light-mode .panel.warning .panel-title {
  color: #fff;
}
body.light-mode .panel.alert #node-status,
body.light-mode .panel.warning #node-status {
  color: #fff;
}
body.light-mode .panel.alert #max-block,
body.light-mode .panel.warning #max-block,
body.light-mode .panel.alert #max-unvalidated,
body.light-mode .panel.warning #max-unvalidated,
body.light-mode .panel.alert #explorer-height,
body.light-mode .panel.warning #explorer-height,
body.light-mode .panel.alert .fg-stroke,
body.light-mode .panel.warning .fg-stroke,
body.light-mode .panel.alert .fg-normal,
body.light-mode .panel.warning .fg-normal,
body.light-mode .panel.alert .fg-accent,
body.light-mode .panel.warning .fg-accent {
  color: #fff;
}
body.light-mode .panel.warning {
  background: var(--warning-color-light);
}
body.light-mode .info-table tr:not(:last-child) {
  border-color: var(--border-color-light);
}
body.light-mode .info-table tbody td:nth-child(2) {
  color: var(--accent-color-light);
}
body.light-mode .progress {
  border-color: var(--panel-background-light);
}
body.light-mode .progress-back {
  background: var(--alert-color-light);
}
body.light-mode .progress-bar {
  background: var(--info-color1-light);
}
body.light-mode #ip-address,
body.light-mode #bind-ip,
body.light-mode #p2p-port,
body.light-mode #client-port {
  color: var(--accent-color-light);
}
body.light-mode #sidecar-position,
body.light-mode #sidecar-uptime,
body.light-mode #sidecar-score {
  color: var(--accent-color-light);
}
/*# sourceMappingURL=light.css.map */