:root {
  --body-background: #1e2228;
  --text-color: #adbaa9;
  --border-color: #444c56;
  --panel-background: #22272e;
  --alert-color: #ea0b0b;
  --warning-color: #ff8330;
  --chart-stroke-color: #7dc37b;
  --chart-fill-color: rgba(125, 195, 123, .3);
}

.fg-stroke {
  color: var(--chart-stroke-color);
}

.bd-system {
  border-color: var(--border-color)!important;
}

body {
  background: var(--body-background);
  color: var(--text-color);
}

.logo-container {
  padding: 20px 0 10px 0;
}

.logo {
  height: 36px;
}

hr {
  background: var(--border-color)!important;
}

.panel {
  height: 100%;
  background: var(--panel-background);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 0 10px;

  .panel-title {
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    color: darkorange;
    font-size: 12px;
    font-weight: bold;
  }

  .panel-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      width: 100%;
    }
  }

  &.alert, &.warning{
    background: var(--alert-color);
    color: #fff!important;

    .panel-title {
      border: none;
      color: #fff!important;
    }
    #node-status {
      color: #fff!important;
    }
  }
  &.warning{
    background: var(--warning-color);
  }
}

#peers-count, #hostname, #node-status, #block-height, #node-uptime {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

#block-producer-full, #snark-worker-full {
  font-size: .9em;
}