[Unit]
Description=Mina Node Monitor Service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
Restart=always
RestartSec=15
ExecStart=/usr/bin/node /home/user-name/mina-monitor/index
ExecStop=/usr/bin/pkill -9 -f "node mina-monitor/index"

[Install]
WantedBy=multi-user.target
